/* CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
:root {
  --veryLightGrayishBlue: hsl(240, 78%, 98%);
  --lightGrayishBlue: hsl(234, 14%, 74%);
  --grayishBlue: hsl(233, 13%, 49%);
  --darkGrayishBlue: hsl(232, 13%, 33%);
  --gradient: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background: var(--veryLightGrayishBlue);
  position: relative;
  color: var(--darkGrayishBlue);
}
.header-flex {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Background */
body::before {
  content: "";
  position: absolute;
  background-image: url(images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 50%;
  width: 40%;
}
body::after {
  content: "";
  position: absolute;
  background-image: url(images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top right;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

/* Header */
header h1 {
  text-align: center;
  margin-bottom: 15px;
  color: var(--grayishBlue);
}
header p {
  color: var(--lightGrayishBlue);
  font-weight: 700;
  font-size: 14px;
}

/* Toggle switch */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  margin: 0 15px;
}
.switch:hover {
  opacity: 0.7;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--gradient);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* Hr */
hr {
  width: 100%;
  opacity: 0.3;
}
.professional hr {
  border-top: 1px solid #fff;
}

/* Grid */
.grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  height: 100%;
  padding: 2rem;
}
.card .price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .price .dollar-sign {
  font-size: 30px;
}
.card .price .cost {
  font-size: 60px;
  margin: 10px 0 10px 5px;
}
.card ul {
  width: 100%;
  text-align: center;
  list-style: none;
}
.card ul li {
  padding: 15px 0;
  font-weight: 700;
  font-size: 14px;
}
.btn {
  border: none;
  cursor: pointer;
  min-height: 40px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 5px;
  margin-top: 20px;
  background: var(--gradient);
  color: #fff;
}
.btn:hover {
  background: #fff;
  color: var(--grayishBlue);
  border: 1px solid var(--grayishBlue);
}
.professional .btn {
  background: #fff;
  color: var(--grayishBlue);
}
.professional .btn:hover {
  background: var(--gradient);
  color: #fff;
  border: 1px solid #fff;
}
.professional {
  height: 110%;
  background: var(--gradient);
  color: #fff;
}

/* Media queries */
@media screen and (max-width: 812px) {
  body {
    overflow: initial;
  }
  body::before {
    display: none;
  }
  body::after {
    background-position: 250px 0;
  }
  .header-flex {
    padding-top: 40px;
  }
  .container {
    height: initial;
    margin: 40px 0;
  }
  .professional {
    height: 400px;
    padding: 2rem;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    width: 50%;
  }
}
@media screen and (max-width: 450px) {
  .grid {
    width: 85%;
  }
}
